// **************************************
// THEME COLOR MAP
// **************************************
/*
Color Wheel:
  Black: hsl(255, 0%, 0%)
  Dark Grey: hsl(237, 12%, 33%)
  Grey: hsl(240, 6%, 50%)
  White: hsl(255, 100%, 100%)
*/
$colors: (
  // Primary Project Color
  primary: (
    color: hsl(0, 36%, 70%)
  ),
  // Error Project Color
  error: (
    color: hsl(0, 93%, 68%)
  ),
  // Span Heading Color
  heading: (
    color: hsl(0, 6%, 24%)
  ),
  bg: (
    gradient_white: hsl(0, 0%, 100%),
    gradient_light: hsl(0, 100%, 98%),
    gradient_soft-gum:  hsl(0, 80%, 86%),
    gradient_bubble-gum: hsl(0, 74%, 74%)
  )
);
