// **************************************
// FONT MAPS
// **************************************
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/*
Font properties
  font-weights 300, 400, 600
*/

$font-love: (
  size: (
    main: 1rem,
  ),
  weight: (
    main: 400,
  ),
  font: (
    main: "Josefin Sans",
  ),
  l-height: (
    main: 1.5,
  ),
);
