// **************************************
// LAYOUT STYLES
// **************************************
@use "../utilities" as *;

#root {
  min-height: 100vh;
}

/*------FLEXBOX LAYOUT STYLES-----------*/

.flex__container {
  @include flex_me();
  position: relative;
}

/*------GRID LAYOUT STYLES-----------*/

.main__grid--container {
  display: grid;
  grid-template-areas:
    "image__container"
    "intro__container";
}

.image__container {
  grid-area: image__container;
}

.intro__container {
  grid-area: intro__container;
}
