// **************************************
// TYPOGRAPHY STYLES
// **************************************
@use "../utilities" as *;

/*----HEADING STYLES----*/
:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--fp-font-main);
}

.title__primary,
.content {
  color: var(--clr-primary-color);
  text-align: center;
}

.title__primary,
.title__primary--dark {
  letter-spacing: px-to-rems(10px);
}

// h1 styles
.title__primary {
  --fp-weight-main: 300;
  @extend %text-modules;
  @include text-prop(
    $size: clamp(3rem, 6vw, 3.5rem),
    $f-weight: var(--fp-weight-main),
    $l-height: 1
  );
  padding: 5rem 0.5rem 0rem;
  text-transform: uppercase;
  &--dark {
    --fp-weight-main: 600;
    color: var(--clr-heading-color);
    font-weight: var(--fp-weight-main);
  }
}

/*----CONTENT STYLES----*/
// p styles
.content {
  --fp-weight-main: 600;
  @include text-prop(
    $size: clamp(0.75rem, 3.5vw, 1rem),
    $f-weight: var(--fp-weight-main),
    $l-height: 1.7
  );
  padding: 1.5rem 0.5rem 1.8rem;
}
